h1 {
    font-size: 40px;
    font-family: "Arial Black";
    color: darkred;
    text-align: center;
}

p {
    font-size: 20px;
    font-family: "Book Antiqua";
    color: gold;
    text-align: center;
}

