<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>!!!Дисциплины!!!</title>
    <link rel='stylesheet' href="..\static\css\index.css">
</head>

<table border="2" width="400" cellpadding="3" cellspacing="0">
    <caption><b>Дисциплины</b></caption>
    <tr><th>Дисциплина 1</th><th>Дисциплина 2</th><th>Дисциплина 3</th><th>Дисциплина 4</th><th>Дисциплина 5</th><th>Дисциплина 6</th><th>Дисциплина 7</th><th>Дисциплина 8</th></tr>
    <tr><th>Ячейка 1,1</th><th>Ячейка 1.2</th><th>Ячейка 1,3</th><th>Ячейка 1,4</th><th>Ячейка 1,5</th><th>Ячейка 1,6</th><th>Ячейка 1,7</th><th>Ячейка 1,8</th>
    <tr><th>Ячейка 2.1</th><th>Ячейка 2,2</th><th>Ячейка 2,3</th><th>Ячейка 2,4</th><th>Ячейка 2,5</th><th></th><th></th><th></th>
    <tr><th>Ячейка 3,1</th><th>Ячейка 3,2</th><th>Ячейка 3,3</th><th>Ячейка 3,4</th><th></th><th></th><th></th><th></th>
    <tr><th>Ячейка 4,1</th><th></th><th></th><th></th><th></th><th></th><th></th><th>
</table>
</tbody>
</html>