h1 {
    font-size: 40px;
    font-family: "Arial Black";
    color: darkred;
    text-align: center;
}

table {
    font-size: 20px;
    font-family: "Book Antiqua";
    color: #198b00;
    text-align: center;
}

