<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Текст</title>
    <link rel='stylesheet' href="..\static\css\index.css">
</head>
<body style="background: black">
    <h>Здесь будет заголовок<br></h>
    <b>Здесь будет текст вариант №1<br></b>
    <i>Здесь будет текст вариант №2<br></i>
    <a href="https://ya.ru//">Здесь будет текст вариант №3<br></a>
    <li>Здесь будет текст вариант №4<br></li>
    <pre>Здесь будет текст вариант №5<br></pre>
    <var>Здесь будет текст вариант №6<br></var>
    <S>Здесь будет текст вариант №7<br></S>
    <u>Здесь будет текст вариант №8<br></u>
    <em>Здесь будет текст вариант №9<br></em>
</body>
</html>