body {
    font-size: 40px;
    font-family: "Arial Black";
    color: #198b00;
    text-align: center;
}
h {
    font-size: 20px;
    font-family: "Arial Black";
    color: #8b007f;
    text-align: center;

}

u {
    font-size: 33px;
    font-family: avenir;
    color: #ff7300;
    text-align: center;
}

